<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% extends 'base.html' %}

        {% block content %}
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Library Management System</h1>
            <p class="lead">Manage students, books, and library records efficiently.</p>
            <hr class="my-4">
            <p>Use the navigation bar to access different sections.</p>
        </div>
        {% endblock %}

</body>
</html>